<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <b>Filtro</b>
        </div>
        <div class="col-md-1">
            <select #selectInput class="form-control">
                <option value="ServiceId">Id</option>
                <option value="Name">Nombre</option>
                <option value="Cost">Costo</option>
                <option value="CustomerId">Cliente</option>
            </select>
        </div>
        <div class="col-md-2">
            <input class="form-control" type="text" #textInput placeholder="Valor" (input)="filter(selectInput.value, textInput.value)">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-primary" (click)="createService()">Crear nuevo servicio</button>
            <br>
            <br>
            <table class="table-striped table-hover" style="width: 85%">
                <thead>
                    <th></th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Cliente</th>
                </thead>
                <tbody>
                    <tr *ngFor="let service of servicesList">
                        <td>
                            <i class="fas fa-pencil-alt" (click)="selectService(service.ServiceId)"></i>
                        </td>
                        <td>
                            {{service.ServiceId}}
                        </td>
                        <td>
                            {{service.Name}}
                        </td>
                        <td>
                            {{service.Cost}}
                        </td>
                        <td>
                            {{service.CustomerId}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <service [serviceId]="selectedService" (serviceCreated)="getServices()"></service>
        </div>
    </div>
</div>