<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="createService()">Crear nuevo servicio</button>
            <br>
            <table class="table-striped table-hover" style="width: 70%">
                <thead>
                    <th></th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Cliente</th>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services">
                        <td>
                            <i class="fas fa-pencil-alt" (click)="selectService(service.ServiceId)"></i>
                        </td>
                        <td>
                            {{service.ServiceId}}
                        </td>
                        <td>
                            {{service.Name}}
                        </td>
                        <td>
                            {{service.Cost}}
                        </td>
                        <td>
                            {{service.CustomerId}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <service [serviceId]="selectedService" (serviceCreated)="getServices()"></service>
        </div>
    </div>
</div>